* {
	font-family: "Montserrat", sans-serif;
}
.button-rd {
	border-radius: 8px;
}
.input-rd {
	border-radius: 8px;
}
.login-window {
	padding: 32px;
	border-radius: 12px;
}
.error {
	color: #eb4d65;
	text-align: left;
}
.plus-icon {
	padding-right: 3px;
}
.header-height {
	height: 45px;
}
.font-bold {
	font-weight: bold;
}
.pl-30 {
	padding-left: 30px;
}
.search-icon {
	position: absolute;
	top: 12px;
	left: 20px;
}
.tasks-text {
	letter-spacing: 0px;
	color: #5285ec;
}
.pointer {
	cursor: pointer;
}
.w-48 {
	width: 48px;
}
.modelclose {
	position: absolute;
	top: -3px;
	right: 8px;
	cursor: pointer;
}
